body,
html {
  font-size: 10px;
}

/* global */
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#app {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* left side */
.config-side {
  padding: 0 1rem;
}

.config-side__input {
  border: 0.15rem solid #999;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font: 1.5rem "Lato";
  height: 2rem;
}

.config-side__input:focus {
  border: 1px solid #333;
}

.sub-title {
  font: 1.5rem "JosefinSans";
}

.react-datepicker {
  font-size: 1.3rem;
}

/* main side */
.main-side {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-side__title {
  font: 2rem "Montserrat";
  text-align: center;
}

.main-side__clock {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
  grid-row-gap: 0.2rem;
  font: 4rem "Montserrat";
}

.main-side__clock div {
  margin: 0.5rem 0;
}

.main-side__clock div p {
  font-size: 1rem;
}

.main-side__timeAndDate {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 0.3rem;
  font-size: 1.5rem;
}

.main-side__clock--border {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.main-side__clock--border:last-child {
  border-left: 0;
}

/* right side */
.color-panel {
  display: grid;
  padding: 0 1rem;
}

.color-panel--left,
.color-panel--right {
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .main-side {
    order: -1;
  }
  .config-side,
  .styling-side {
    flex: 0 0 100%;
  }
}
