body,
html {
  font-size: 10px;
}

/* global */
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

/* left side */
.leftSide {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
}

.leftSide__input {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  font: 1.5rem "Lato";
  height: 2rem;
}

.leftSide__input:focus {
  border: 1px solid #333;
}
.leftSide__sub-title {
  font: 1.5rem "JosefinSans";
}

.react-datepicker {
  font-size: 1.3rem;
}

/* main side */
.mainSide {
  background-color: #1ee671;
}

.mainSide__title {
  font: 3rem "Montserrat-bold";
  text-align: center;
}

.mainSide__clock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.mainSide__timeAndDate {
  grid-column-start: 2;
  grid-column-end: 4;
}
/* right side */
